.tags{
    display: flex;
    >*{
        margin-right: 7px;
    }
}

.tag{
    color: green;
    margin-top: 20px ;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 12px;
    padding: 8px 24px;
    transition: .6s;
    @include font(1.8rem, 2.4rem, normal, normal);
    &:first-child{
        margin-left: 0px;
    }
    &_selected{
        color: black;
        background-color: rgb(0, 128, 0, 0.1);
    }
    &:hover{
        color: black;
    }
}