.general-info{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-container{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.clock {
    height: auto;
    width: auto;
    @include font(8rem, 10.2rem,600,normal);
    @include media-tablet{
        @include font(4.0rem, 5.6rem, 600, normal);
    }
}

.date {
    height: auto;
    @include font(5rem,7rem,normal,normal);
    margin-bottom: 40px;
    margin-top: 40px;
    @include media-tablet{
        @include font(3.0rem, 4.2rem, normal, normal);
    }
}