.greeting-container{
    flex-direction: row;
    margin: auto;
    display: flex;
    width: auto;
    height: auto;
    @include font(4.0rem, 5.6rem, 600, normal);
    @include media-tablet{
        min-width: 330px;
        flex-direction: column;
        @include font(2.2rem, 3.0rem, 600, normal);
        text-align: center;
    }
}

.greeting{
    width: 50%;
    @include media-tablet{
        width: 100%;
    }    
}

.name {
    width: 50%;
    text-align: left;
    @include font(4.0rem, 5.6rem, 600, normal);
    color: $color-light;
    background-color: transparent;
    border: 0;
    outline: 0;
    &::placeholder{
        color: #fff;
        opacity: .6;
    }
    @include media-tablet{
        width: 100%;
        @include font(3.0rem, 4.2rem, 600, normal);
        text-align: center;
    }
}
 