.slider__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slide-prev,
.slide-next{
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
    &:hover{
        opacity: 1;
    }
    &:active{
        border: 0;
        outline: 0;  
        transform: scale(1.1);
    }
    @include media-tablet{
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
    }
}
.slide-next{
    background-image: url("/src/assets/icon/slider-next.svg");
}
.slide-prev{
    background-image: url("/src/assets/icon/slider-next.svg");
    transform: rotate(180deg);
}
