$color-light: white;
$color-dapk: black;
$color-primary: green;
$color-border: #D7D7D7;
$color-tag: #E5E5E5;
$color-violet: #7752BE;
$color-overlay: rgba(80, 80, 80, 0.4);

$content-width: 90%;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
$min-height: 570px;