.general-info__wrapper{
    width: $content-width;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather_wrapper{
    @include media-minheight{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60vh;
    }
}

.actions__wrapper{
    width: $content-width;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

