.general-info__wrapper{
    width: $content-width;
    height: 60vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather__wrapper{
    width: $content-width;
    height: 20vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions__wrapper{
    width: $content-width;
    height: 20vh;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

